<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chute-sdk</key>
	<dict>
		<key>app_id</key>
		<string>YOUR_CLIENT_ID</string>
		<key>app_secret</key>
		<string>YOUR_CLIENT_SECRET</string>
	</dict>
	<key>photopicker</key>
	<dict>
		<key>configuration_url</key>
		<string>https://dl.dropboxusercontent.com/s/lat3x3asl2xexm3/config.json</string>
		<key>services</key>
		<array>
			<string>facebook</string>
			<string>google</string>
			<string>googledrive</string>
			<string>instagram</string>
			<string>flickr</string>
			<string>picasa</string>
			<string>dropbox</string>
			<string>skydrive</string>
			<string>youtube</string>
		</array>
		<key>local_features</key>
		<array>
			<string>take_photo</string>
			<string>last_photo_taken</string>
			<string>record_video</string>
			<string>last_video_captured</string>
			<string>all_media</string>
		</array>
		<key>load_images_from_web</key>
		<true/>
		<key>show_images</key>
		<true/>
		<key>show_videos</key>
		<true/>
		<key>default_layouts</key>
		<dict>
			<key>folder_layout</key>
			<string>tableView</string>
			<key>asset_layout</key>
			<string>collectionView</string>
		</dict>
		<key>services_layouts</key>
		<dict>
			<key>facebook</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>google</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>googledrive</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>instagram</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>flickr</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>picasa</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>dropbox</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>skydrive</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
			<key>youtube</key>
			<dict>
				<key>folder_layout</key>
				<string>tableView</string>
				<key>asset_layout</key>
				<string>collectionView</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
